BODY {
    
     scrollbar-arrow-color: White;
     scrollbar-base-color: White 
     scrollbar-dark-shadow-color: white;
     scrollbar-face-color: #decd99;
     scrollbar-highlight-color: White;
     scrollbar-shadow-color: White;
 }

A:visited { color: black; }
A:link { color: black; }
A:hover { color: black; font: bold; }
a { text-decoration: yes; }

.textarea {
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
  background: #decd99;
  font: bold;
  font-size: 12;
  border: 1px solid #000000;
 }

.tlacitko {
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
  background: #decd99;
  font: bold;
  font-size: 12;
  border: 1px solid #000000;
 }


.tabulka {
  width: 800;
  border: 0;
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
 }

.tabulka_druha {
  width: 800;
  height: 100%;
  border: 0;
  background: #EDE0B6;
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
 }

.tabulka_treti {
  width: 400;
  border: 0;
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
  background: #DECD99;
 }

.bunka_up {
  width: 800;
  height: 10;
  border: 0;
  background: #EDE0B6;
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
  font-size: 10px;
  font: bold;
 }

.bunka_logo {
  width: 800;
  height: 100;
  border: 0;
 }

.bunka_strana {
  width: 10;
  height: 100%;
  border: 0;
  background: #EDE0B6;
 }

.bunka_menu {
  width: 150;
  height: 100%;
  border: 0;
  background: #EDE0B6;
 }

.bunka_text {
  width: 480;
  height: 100%;
  border: 0;
  background: #DECD99;
 }

.bunka_nadpis {
  width: 400;
  height: 15;
 }

.bunka_rozprava {  
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
  font-size: 13;
  width: 400;
  background: #DECD99;
 }

.bunka_nosize {  
  font-family : Helvetica CE, Helvetica, Tahoma, Tahoma CE, Arial CE, Arial;
  font-size: 13;
  background: #DECD99;
 }